<!DOCTYPE html>
        <html lang="fr">
            <head>
                <meta charset="utf-8"> 
                <title>MyWishlist</title>
                <link rel="stylesheet" href="styles.css">
            </head>

            <body>
                <header>
                    <nav>
                        <ul class="nav_links">
                                <li><a href="/Liste/ListeSouhaits">liste des listes de souhaits</a></li>
                                <li><a href="/ListeItems/ListeSouhaits">détail d'une liste</a></li>
                                <li><a href="#">détail d'un item</a></li>
                                <li><a id="creation" href="#">login/sign up</a></li>

                                <FORM NAME="form1">
                                    <label>Action :</label>
                                    <li><select>
                                        <option value="" method="post"> </option>
                                        <option value=""> </option>
                                        <option value=""> </option>


                                    </select>
                                    <li><INPUT TYPE="text" NAME="input" VALUE="" DEFAULTVALUE="Veuillez entrer une valeur"><BR></li>
                                    <INPUT TYPE="button" NAME="bouton" VALUE="Envoyer" onClick="controle(form1)">
                            </FORM>
                        </ul>
                    </nav>    
                    <a class="cta" href="#"><button>Mode Créateur</button></a> 
                </header>           
            </body>
        </html>