<!DOCTYPE html>
        <html lang="fr">
            <head>
                <meta charset="utf-8"> 
                <title>MyWishlist</title>
                <link rel="stylesheet" href="styles.css">
            </head>

            <body>
                <header>
                    <nav>
                        <ul class="nav_links">
                            <form action='/reservation/{id}' method='post'>
                                <INPUT TYPE="button" NAME="bouton" VALUE="Réserver">
                            </FORM>
                        </ul>
                    </nav>    
                    <a class="cta" href="#"><button>Mode Créateur</button></a> 
                </header>           
            </body>
        </html>